.main {
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.alert-publish {
    padding: 10px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}